doctype html
html
  head
    title Simple site using Node.js, Express, Pug and Mongoose
    link(rel='stylesheet', href="/css/styles.css")
    block styles
    script(src="/js/scripts.js")
    block scripts
  body
    block content
    block bottomNavigation
  block footer